/* Body/Containers */

section.padding {
    padding: 110px 0;
}

/* Fonts */

h1 {
    font-size: 40px;
}

p {
    margin-bottom: 0px;
    font-size: 18px;
    line-height: 1.5;
    font-weight: 400;
    letter-spacing: 1px;
}

@media(max-width:1199px) {
    
    p {
        margin-bottom: 0;
        font-size: 16px;
    }
}

/* Siteheader */
p.nowplaying {
    color: #747477;
    font-size: 13px;
    margin-top: 13px;
    line-height: 1.4;
}

p.nowplaying span {
    color: #f9f9f9;
    font-size: 15px;
    font-weight: 600;
}
/* menu */
/* logobar */
.identity {
    background-color: #3f3f3f;
    text-align: left;
    z-index: 99999;
}
.identity p {
    font-size: 30px;
    font-family: 'montserrat';
    text-transform: uppercase;
    font-weight: 600;
    padding: 20px 10px;
    color: #f9f9f9
}
.identity img {
    width: 330px;
    height: auto;
    margin: 10px 0px;
}
.identity .container, .header-section .container {
    padding: 0;
}


/* Banner */

header.hero {
    position: relative;
    width: 100%;
    min-height: auto;
    text-align: center;
    color: #f3f3f3;
    background-image: linear-gradient(rgba(53,53,53,0.35),rgba(53,53,53,0.35)), url('../images/header.jpg');
    background-repeat: no-repeat;
    background-position: center left;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

header.hero .hero-content {
    position: relative;
    width: 100%;
    padding: 110px 15px;
    text-align: left;
}

@media(min-width:992px) {
    header.hero {
        min-height: 500px;
    }
    header.hero .hero-content {
        position: absolute;
        top: 50%;
        padding: 0 50px;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }
    header.hero .hero-content .hero-content-inner {
        margin-right: auto;
        margin-left: auto;
    }
}

h1.hero-txt {
    font-family: 'open sans', Arial;
    color: #f3f3f3;
    font-weight: 700;
    line-height: 1.1;
    text-transform: uppercase;
    font-size: 60px;
    margin-bottom: 15px
}

p.hero-txt-sub {
    margin-bottom: 30px;
    font-size: 20px;
    font-weight: 300;
    max-width: 700px;
    margin-left: 5px;
}

.rev-btn, .rev-btn:focus {
    color: #f3f3f3!important;
    border-color: #ae7f3b!important;
    background: #ae7f3b!important;
}

.rev-btn:hover {
    color: #f3f3f3!important;
    background: #ae7f30!important;
    border-color: #ae7f30!important;

}

.quote-btn, .quote-btn:focus {
    text-transform: uppercase;
    font-size: 17px;
    font-weight: 700;
    padding: 11px 31px 11px 31px;
    color: #f3f3f3;
    margin: 0px 15px;
    cursor: pointer;
    border: 2px solid #ae7f3b;
    outline: none;
    transition: all ease .3s;
    -webkit-transition: all ease .3s;
    -moz-transition: all ease .3s;
    text-decoration: none;
    border-radius: 2px;
}

.quote-btn:hover {
    background: #ae7f3b;
    text-decoration: none;
    color: #f3f3f3;
}

.quote-btn1, .quote-btn1:focus {
    text-transform: uppercase;
    font-size: 17px;
    font-weight: 700;
    padding: 11px 31px 11px 31px;
    color: #f3f3f3;
    margin: 0px 15px;
    cursor: pointer;
    border: 2px solid #f3f3f3;
    outline: none;
    transition: all ease .3s;
    -webkit-transition: all ease .3s;
    -moz-transition: all ease .3s;
    text-decoration: none;
    border-radius: 2px;
}

.quote-btn1:hover {
    background: #f3f3f3;
    text-decoration: none;
    color: #353535;
}

/* pagina */

/* formulier */

#contact-form {
    margin-left: 20px;
}

#contact-form div {
    padding: 0px 3px;
}

#contact-form input, #contact-form textarea {
    background-color: #3d3d3d;
    color: #f9f9f9;
    padding: 10px;
    width: 100%;
    border: 2px solid #2a2a2a;
    resize: none;
    font-size: 0.9em;
    border-radius: 2px;
}

#contact-form input:focus, #contact-form textarea:focus {
    border-color: #ae7f3b;
    transition: all ease .3s;
    -webkit-transition: all ease .3s;
    -moz-transition: all ease .3s;
}

#contact-form textarea {
    height: 160px;
}

.form-group {
    margin-bottom: 4px;
}

button.submit {
    font-size: 'Open Sans';
    border: 2px solid #ae7f3b;
    padding: 8px 0px;
    margin: 12px 0px 0px 3px;
    text-transform: uppercase;
    color: #f9f9f9;
    font-weight: 600;
    background-color: transparent;
    font-size: 13px;
    width: 100%;
    text-align: center;
    border-radius: 2px;
}

button.submit:hover {
    background-color: #ae7f3b;
    transition: all ease .3s;
    -webkit-transition: all ease .3s;
    -moz-transition: all ease .3s;    
}


/* selection */

::-moz-selection {
    text-shadow: none;
    color: #f3f3f3;
    background: #ae7f3b;
}

::selection {
    text-shadow: none;
    color: #f3f3f3;
    background: #ae7f3b;
}

.noselect {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

/* Scrollbar */

.nicescroll-rails {
    background: transparent!important;
}

.nicescroll-rails div {
    background-color: #ae7f3b!important;
    width: 7px!important;
    margin-right: 3px;
    cursor: pointer;
}